extends layout

append extraHeader
  link(rel='stylesheet',href = '/stylesheets/style.css')
  link(rel='stylesheet',href = '//cdn.bootcss.com/github-markdown-css/2.6.0/github-markdown.min.css')
block content
  div.row
    div.col-md-9
      #content
      script(src='static/article_preview.js')
    div.col-md-3
      div.article-preview
        div.content
          p.text-center 分类
          ul.list-group
            li.list-group-item
              | android
              span.badge 14
            li.list-group-item
              | iOS
              span.badge 14
      div.article-preview
        div.content
          p.text-center 文章
          ul.list-group
            li.list-group-item
              | 5月
              span.badge 14
            li.list-group-item
              | 4月
              span.badge 14
