doctype html
html
    head
        title= title
        script(src = '//cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
        link(rel='stylesheet',href = '//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
        block extraHeader
    body
        block content
