extends layout

block content
  form(method='post')
    div.form-group
      label Email address
      input.form-control(type="text",placeholder="Email",name="account")
    div.form-group
      label Password
      input.form-control(type="password",placeholder="password",name="password")
    button.btn.btn-primary.form-control(type="submit") Submit
