body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(235, 235, 235);
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}


p {
  word-break: break-word;
}

.article-preview {
  padding: 30px;
}

.content img {
  width: 300px;
  height: 300px;
}

#floor {}

#floor li {
  list-style-type: none;
  display: list-item;
}

#floor li a {
  color: #b8c4cc;
  border-radius: 0px;
}

#floor li.active a {
  background-color: white;
  color: black;
}
